In [1]:
import pandas as pd
from glob import glob

In [2]:
files = glob('line_items*/*')
items = []
for f in files:
    items.append(pd.read_csv(f))

In [3]:
files = glob('shipments/*')
shipments = []
for f in files:
    shipments.append(pd.read_csv(f))

In [4]:
train_df = pd.read_csv('train/train.csv')

message_df = pd.read_csv('messages/messages.csv')
actions_df = pd.read_csv('messages/actions.csv')

addresses_df = pd.read_csv('misc/addresses.csv')
user_profiles_df = pd.read_csv('misc/user_profiles.csv')
master_categories_df = pd.read_csv('misc/master_categories.csv')

sample_df  = pd.read_csv('sample_submission.csv')

merged_shipments_df = pd.concat(shipments)
merged_items_df = pd.concat(items)

In [6]:
train_df.head()

   phone_id order_completed_at  target
0     19843            2020-01     1.0
1     19843            2020-02     0.0
2     19843            2020-03     0.0
3     19843            2020-04     0.0
4     19843            2020-05     0.0

In [7]:
train_df.describe()

           phone_id        target
count  1.159576e+06  1.159576e+06
mean   2.122805e+05  5.004027e-01
std    1.675498e+05  5.000001e-01
min    2.000000e+00  0.000000e+00
25%    7.792750e+04  0.000000e+00
50%    1.723770e+05  1.000000e+00
75%    3.100738e+05  1.000000e+00
max    7.193740e+05  1.000000e+00